<launch>

  <!-- Set the param that trajectory_execution_manager needs to find the controller plugin -->
  <node name="test_final_node" type="test_final.py" pkg="tiago_state_machine" output="screen" />

  <!-- The rest of the params are specific to this plugin -->
  <rosparam file="$(find tiago_state_machine)/config/test.yaml"/>
  
</launch>
